.section4 {
  .row {
    @include breakpoint-up(large) {
      flex-direction: row;
    }
  }
  h2 {
    font-weight: bold;
  }

  .col__left {
    position: relative;
    min-width: 120%;
    min-height: 25rem;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0;
      background: url("/images/illustration-laptop-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    @include breakpoint-up(large) {
      min-width: fit-content;
      flex: 0.5;
      &::before {
        content: "";
        position: absolute;
        height: 120%;
        width: 160%;
        top: 0px;
        left: 0;
        background: url("/images/illustration-laptop-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
    @include breakpoint-up(large) {
      position: relative;
      min-height: 40rem;
      &::before {
        position: absolute;
        left: -270px;
        top: -50px;
      }
    }
  }

  .col__right {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 0.5;
      text-align: left;
      margin-left: 3%;
    }
  }
}
